.cardscon
{
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  background-color: #023430;
  padding-top: 120px;
  padding-bottom: 80px;

    
}

.fz {
  font-size: 1.25rem;
  text-align: center;
}

.ts{
  line-height: 40px;
  font-style:arial;
  
}

.bg-footer
{
    
  /* border-top-left-radius: 160px;
  border-top-right-radius: 160px; */
  background-color: #001e2b;
    
}


.bg-foot
{

  background-color: #21313c;
  
    
}


.bg-gradient {

  background-image: linear-gradient(45deg, rgba(12, 183, 103, 0.84), rgb(22, 96, 161));
  
}
    
.bg-image 
{
  background-image: url('./images/database.png');
    
}
  
  
.leftsr {
    padding-top: 100px;
    padding-bottom: 0px;
  
}

.db-image 
{
    
  padding-right: 80px;
  bottom: 68px;
  align-self:flex-start;
  position:relative;

}

.db-image2 {
  
  max-width: 100%;
  min-width: 300px;
  height: auto;
 

}

.logo-size{

  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}



.bg-blue{
  background-color: #003865;
  color: rgb(37, 171, 233);
  
}

.bg-green{
  background-color: #00ed64;

}


.gradiance-tile {
	background: rgb(0, 157, 224);
	background: linear-gradient(
		45deg,
		rgba(0, 157, 224, 1) 0%,
		rgba(0, 172, 65, 1) 100%
	);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.green-gradiant {
	background: rgb(0, 157, 224);
	background: linear-gradient(
		45deg,
		rgba(0, 157, 224, 1) 0%,
		rgba(0, 172, 65, 1) 100%
	) !important;
}
.purple-gradiant {
	background: rgb(0, 157, 224);
	background: linear-gradient(
		45deg,
		rgba(0, 157, 224, 1) 0%,
		#8246af 100%
	) !important;
}
.turquoise-gradiant {
	background: rgb(0, 157, 224);
	background: linear-gradient(45deg, rgba(0, 157, 224, 1) 0%, #00968f 100%);
}
.pink-gradiant {
	background: rgb(0, 157, 224);
	background: linear-gradient(
		45deg,
		rgba(0, 157, 224, 1) 0%,
		#ee3d8b 100%
	) !important;
}




@media (max-width: 640px){
   
    
    .db-image2 {
        
      width: 420px;
    
    }

    .ts{
      line-height: 20px;
      /* font-style:arial; */
      font-family: roboto;
      
    }
    .pl8{
      font-size: 1rem;
      padding-right: 0px;
      padding-left: 0px;
    }

}








