

.cursor{
 
  width: 25px;
  height: 25px;
  background: linear-gradient(45deg, rgba(12, 183, 103, 0.500), rgb(22, 96, 161, 0.500));
  /* linear-gradient(to top left, #0062bE, #00A2FE); */
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0px 0 0 0px;
  pointer-events: none;
  
  z-index: 1000;

  transform-origin: center center;
  border: none;

  /* mix-blend-mode: multiply; */

}

/* .circle {
  width: 40px;
  height: 40px;
  background: linear-gradient(to top left, #0062bE, #00A2FE);
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: 1000;

  transform-origin: center center;
  transition: transform .3s ease;
  
} */

.grow, .grow-small{
  transform: scale(10);
  background: #fff;
  mix-blend-mode:difference;
  border: none;
}
.grow-small{
  transform: scale(2.5);
}

@media (max-width: 640px) {

  .cursor{
    height: 0px;
  }
}

